
#employee-info{
	margin-top: 50px;
}

#employee-photo {
    
    height: 380px;
    width: 300px;
    
}

#alert-field{
	margin-top: 10px;
}

.main{
	margin-top: 60px;
}

.control-menu {
    margin-top: 10px;
    margin-bottom: 10px;
}

.control-menu button, .control-menu select {
    margin-left: 2px;
    margin-right: 2px;
}

#annual-tally-scroll-window {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    font-size: 10px;
    overflow-x: auto;
}

#monthly-tally-scroll-window {	
	width:100%;	
	margin-top: 10px;
	margin-bottom: 10px;
	white-space:nowrap;	
	font-size: 10px;
	overflow-x: auto;
}

#month-summary-scroll-window  {
  font-size: 10px;   
  overflow-x: auto;
}

#glossary-scroll-window {
  margin-top: 10px;
  font-size: 10px; 
  margin-bottom: 20px;  
  overflow-x: auto;
}

#employee-list-scroll-window {	
	width:100%;	
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	overflow-x: auto;	
}

#distribution-scroll-window {	
	width:100%;	
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	overflow-x: auto;	
}

th[href], tr[href] {
	cursor: pointer;	
}

.sticky-headers thead th {
	position: relative;
	z-index: 1;
}

.scrollable {
	overflow: scroll;	
}

.vertical {
  writing-mode: vertical-rl;  
  -ms-writing-mode: tb-lr; 
  transform: rotate(180deg);    
}

.highlighted {
	background: rgb(150, 150, 200) !important; 
}

.changed {
	border-bottom: 2px solid yellow !important;
}

.alerted {
	border-left: 4px solid red !important;
}

td.selected{  
  background-color: rgb(165, 207, 241) !important; 
}

td.last-selected{
  border: 2px solid rgb(0, 0, 0);  
  background-color: rgb(255, 255, 255) !important;
}

.disabled {	 
	background-color: rgb(230, 230, 255) !important;
}

table {
	border-collapse: separate;
	border-spacing: 0px;
	margin-bottom: 0px !important;
}



#employee-list-scroll-window th, #employee-list-scroll-window td {
    text-align: left !important;
    vertical-align: middle !important;
}

#monthly-tally-scroll-window thead th, #monthly-tally-scroll-window thead td {
    text-align: center !important;
    vertical-align: middle !important;
}

#monthly-tally-scroll-window tbody th, #monthly-tally-scroll-window tbody td {
    text-align: left !important;
    vertical-align: middle !important;
}



.selectable-table select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    text-align-last: center;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border: 0px;
}

/* For IE10 */
table select::-ms-expand {
  display: none;
}

@media print {
    button, .control-menu select, nav {
        display: none !important;
    }
    @page {
        size: landscape;
    }
    body {
        zoom: 65%;        
    }    
    #annual-tally-scroll-window{
        overflow: hidden;
    }
    table {
        page-break-inside: avoid;
    }
    td {
        -webkit-print-color-adjust: exact !important;
    }
    select {
        /* for Firefox */
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
        padding: 0px;        
    }
}
