@model ErrorViewModel
@{
    ViewData["Title"] = "Hata";
}

<h1 class="text-danger">Hata</h1>
<h2 class="text-danger">İşlem gerçekleştirilirken bir hata oluştu.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>İstek Numarası:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    Lütfen tekrar deneyin ya da hata ile ilgili sistem yöneticinize başvurun.
</p>

